.stratagems-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stratagem-type-container {
    flex: 1 1 300px;
    margin: 10px;
}

.weapons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weapons {
    flex: 1 1 300px;
    margin: 10px;
}